@font-face {
  font-family: "Circular Std Book";
  src: url("../assets/fonts/Circular-Std-Book.eot");
  src: url("../assets/fonts/Circular-Std-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circular-Std-Book.woff2") format("woff2"), url("../assets/fonts/Circular-Std-Book.woff") format("woff"), url("../assets/fonts/Circular-Std-Book.ttf") format("truetype"), url("../assets/fonts/Circular-Std-Book.svg") format("svg");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Circular Std Book", sans-serif !important;
}

body {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

#header {
  height: 80px;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #logo,
#header #itens-menu {
  display: inline;
}

#header ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
}

#header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header nav li {
  list-style: none;
  padding: 0 1rem;
}

#header a {
  color: #fff;
  text-decoration: none;
}

#header a:hover {
  color: #1ed760;
  text-decoration: none;
}

#main {
  width: 100%;
  height: auto;
  background-color: #9bf0e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
}

#main .textos {
  color: #2d46b9;
}

#main .textos h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: bolder;
  margin-bottom: 2rem;
  max-width: 500px;
}

#main .textos h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 2rem;
  font-weight: normal;
  max-width: 740px;
}

#main .textos h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 2px;
}

#main .imagem {
  max-width: 100%;
}

#main button {
  width: auto;
  padding: 0.8rem 3rem;
  background-color: #2d46b9;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  border-radius: 500px;
  cursor: pointer;
  font-family: "Circular Std Book", sans-serif;
}

#musicas {
  width: 100%;
  height: auto;
  background-color: #2941ab;
  background-image: url(../assets/images/bg-musicas.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9rem 0;
}

#musicas .textos {
  color: #1ed760;
}

#musicas .textos h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: bolder;
  margin-bottom: 2rem;
  max-width: 560px;
}

#musicas .textos h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 2rem;
  font-weight: normal;
  max-width: 560px;
}

#musicas .textos h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 2px;
}

#musicas button {
  width: auto;
  padding: 0.8rem 3rem;
  background-color: #1ed760;
  color: #2941ab;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  border-radius: 500px;
  cursor: pointer;
  font-family: "Circular Std Book", sans-serif;
}

#footer {
  width: 100%;
  height: auto;
  background-color: #000;
  padding: 4rem 0;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #1ed760;
  text-decoration: none;
}

#footer .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .logos .socialFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

#footer .logos .socialFooter .icone {
  background: #222326;
  width: 54px;
  height: 54px;
  -webkit-clip-path: circle();
          clip-path: circle();
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .logos .socialFooter .icone a {
  color: #fff;
}

#footer .logos .socialFooter .icone a:hover {
  color: #1ed760;
  text-decoration: none;
}

#footer .linksFooter {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

#footer .linksFooter h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919496;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

#footer .linksFooter li {
  list-style: none;
  margin-bottom: 1rem;
}

#footer .pais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  color: #919496;
}

#footer .pais a {
  color: #919496;
}

#footer .pais a:hover {
  color: #1ed760;
  text-decoration: none;
}

#footer .copyright {
  color: #919496;
  font-size: 0.8rem;
}

#footer .copyright .containerCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .copyright .linksCopy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
}

#footer .copyright .linksCopy ul a {
  color: #919496;
}

#footer .copyright .linksCopy ul a:hover {
  color: #1ed760;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */