/* Mobile */

@media (min-width: 320px) and (max-width: 767px) {
  #itens-menu {
    display: none !important;
  }

  #logo {
    margin: 0 auto;
  }

  #main {
    height: auto;
    padding: 2rem 0;
  }

  #main h1 {
    font-size: 36px !important;
    line-height: 40px !important;
    font-weight: bolder;
    margin-bottom: 2rem;
    max-width: 500px;
    text-align: center;
  }

  #main h2 {
    font-size: 20px !important;
    text-align: center;
    padding: 0 1rem;
  }

  #main h3 {
    text-align: center;
  }

  .botao {
    text-align: center;
    margin-bottom: 2rem;
  }

  button {
    width: 280px !important;
    padding: 1rem 1rem !important;
  }

  .imagem {
    width: 280px;
    margin: 0 auto;
  }

  #musicas {
    background-image: url(../assets/images/bg-musicas-mobile.svg);
    background-position: 62% 52%;
    background-size: auto 160%;
    background-repeat: no-repeat;
    padding: 7rem 0;
    text-align: center;
  }

  .logos {
    flex-direction: column;
    gap: 4rem;
  }

  .linksFooter {
    text-align: center;
    margin-bottom: 4rem !important;
  }

  .linksFooter h6 {
    margin-top: 2rem;
  }

  .pais,
  .copyright {
    display: none !important;
  }
}

/* Tablets */

@media (min-width: 768px) and (max-width: 1200px) {
  #main h1,
  h2,
  h3,
  .botao {
    text-align: center;
    margin: 0 auto;
  }

  .botao {
    text-align: center;
    margin-bottom: 4rem;
  }

  .imagem {
    width: 400px;
    margin: 0 auto;
  }

  #musicas {
    background-image: url(../assets/images/bg-musicas-tablet.svg);
    background-position: center center;
    background-size: auto 170%;
    background-repeat: no-repeat;
    text-align: center;
  }

  #musicas .textos h1 {
    max-width: 100%;
  }

  #musicas .textos h2 {
    margin: 0 auto 2rem auto;
  }
}
